<% if (!index && theme.leancloud && theme.leancloud.enable){ %>
<!-- minivaline评论 -->
<div id="vcomments-box">
    <div id="vcomments">
    </div>
</div>
<script src='https://unpkg.com/minivaline/dist/MiniValine.min.js'></script>
<script>
    new MiniValine({
	    el: '#vcomments',
	    appId: '<%- theme.leancloud.app_id %>',
	    appKey: '<%- theme.leancloud.app_key %>',
        mode: '<%- theme.minivaline.mode %>',
        placeholder: '<%- theme.minivaline.placeholder %>',
        pathname: window.location.pathname,
        lang: '<%- theme.minivaline.lang %>',
        adminEmailMd5: '<%- theme.minivaline.adminEmailMd5 %>',
        tagMeta: <%- '["' + theme.minivaline.tagMeta.join('", "') + '"]' %>,
        master: <%- '["' + theme.minivaline.master.join('", "') + '"]' %>,
        friends: <%- '["' + theme.minivaline.friends.join('", "') + '"]' %>,
        math: <%- theme.minivaline.math %>,
        md: <%- theme.minivaline.md %>,
        enableQQ: <%- theme.minivaline.enableQQ %>,
        NoRecordIP: <%- theme.minivaline.NoRecordIP %>,
        visitor: <%- theme.minivaline.visitor %>,
        maxNest: <%- theme.minivaline.maxNest %>,
        pageSize: <%- theme.minivaline.pageSize %>,
        serverURLs: '<%- theme.minivaline.serverURLs %>',
        emoticonUrl: <%- '["' + theme.minivaline.emoticonUrl.join('", "') + '"]' %>,
    });
    const infoEle = document.querySelector('#vcomments .info');
    if (infoEle && infoEle.childNodes && infoEle.childNodes.length > 0) {
        infoEle.childNodes.forEach(function (item) {
            item.parentNode.removeChild(item);
        });
    }
</script>
<style>
    #vcomments-box {
        padding: 5px 30px;
    }
    @media screen and (max-width: 800px) {
        #vcomments-box {
            padding: 5px 0px;
        }
    }
    #vcomments-box #vcomments {
        background-color: #fff;
    }
    .v .vlist .vcard .vh {
        padding-right: 20px;
    }
    .v .vlist .vcard {
        padding-left: 10px;
    }
</style>
<% } %> 