<% if (!theme.word_count.only_article_visit || (!index && theme.word_count.only_article_visit)){ %>
<div class="word_count">
    <span class="post-time">
        <span class="post-meta-item-icon">
            <i class="ri-quill-pen-line"></i>
            <span class="post-meta-item-text"> <%= __('post.word_count') %>:</span>
            <span class="post-count"><%= wordcount(post.content) %></span>
        </span>
    </span>

    <span class="post-time">
        &nbsp; | &nbsp;
        <span class="post-meta-item-icon">
            <i class="ri-book-open-line"></i>
            <span class="post-meta-item-text"> <%= __('post.read_time') %>≈</span>
            <span class="post-count"><%= min2read(post.content) %> <%= __('post.minutes') %></span>
        </span>
    </span>
</div>
<% } %>