<%- partial('_partial/head') %>

<body>
  <div id="app">
    <main class="content">
      <%- body %>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </main>
    <% if (theme.toc && is_post()){ %>
    <aside class="sidebar">
      <% } else { %>
      <aside class="sidebar">
        <% } %>
        <%- partial('_partial/sidebar') %>
      </aside>
      <%- partial('_partial/after-footer') %>
  </div>
</body>

</html>