<footer class="footer">
  <div class="outer">
    <ul class="list-inline">
      <li>
        &copy;
        <% if (theme.since && !isNaN(theme.since) && theme.since < date(new Date(), 'YYYY')) { %><%- theme.since%>-<% } %><%= date(new Date(), 'YYYY') %>
        <%= config.author || config.title %>
      </li>
      <li>
        <% if (theme.pageFooter){ %>
        Powered by
        <% var hexoLink = '<a href="https://hexo.io" target="_blank">Hexo</a>'; %>
        <% var themeLink = '<a href="https://github.com/Shen-Yu/hexo-theme-ayer" target="_blank">Ayer</a>'; %>
        <%- hexoLink %> Theme <%- themeLink %>
        <% } %>
      </li>
    </ul>
    <ul class="list-inline">
      <li>
        <% if (theme.busuanzi && theme.busuanzi.enable){ %>
        <%# "不蒜子统计" %>
        <%- partial('post/busuanzi') %>
        <% } %>
      </li>
      <% if (theme.icp&&theme.icp.enable){ %>
      <li>
        <a href="<%= theme.icp.url %>" target="_black"><%= theme.icp.text %></a>
      </li>
      <% } %>
      <li>
        <!-- cnzz统计 -->
        <% if (theme.cnzz&&theme.cnzz.enable){ %>
        <script type="text/javascript" src='<%= theme.cnzz.url%>'></script>
        <% } %>
      </li>
    </ul>
  </div>
</footer>